VERSION: 2

DATASETS:
  TRAIN: ("pjt3_train",)
  TEST: ("pjt3_test",)

DATALOADER:
  NUM_WORKERS: 2

MODEL:
  WEIGHTS: "detectron2://COCO-Detection/faster_rcnn_R_50_FPN_3x/137849458/model_final_280758.pkl"
  ROI_HEADS:
    NUM_CLASSES: 1
    SCORE_THRESH_TEST: 0.5
  ANCHOR_GENERATOR:
    SIZES: [[32, 64, 128, 256, 512]]
    ASPECT_RATIOS: [[0.25, 0.5, 1.0, 2.0, 4.0]]

INPUT:
  MIN_SIZE_TRAIN: (1024,)
  MAX_SIZE_TRAIN: 1024
  MIN_SIZE_TEST: 1024
  MAX_SIZE_TEST: 1024

SOLVER:
  IMS_PER_BATCH: 2
  BASE_LR: 0.00025
  MAX_ITER: 15000
  STEPS: (10000, 13000)
  GAMMA: 0.1

OUTPUT_DIR: "./output_pjt3_faster_rcnn"
